@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@0,900;1,800&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Ysabeau Infant', sans-serif;
    background-color: #13005A;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: calc(36px + (80 - 36) * ((100vw - 300px) / (1600 - 300)));
    color: antiquewhite;
}